* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 300px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 15px;
}
.content .forms {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.content .forms input {
    width: 100%;
    height: 32px;
    border: 1px solid #eee;
    display: block;
    border-radius: 8px;
    padding: 0 5px;
    margin-bottom: 10px;
    outline: none;
}
.content .forms .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content button {
    width: 48%;
    height: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}
.content button#add {
    background-color: #4caf50;
}
.content button#delete {
        background-color: #f44336;
}
.content .area {
    width: 100%;
    padding: 10px;
    background-color: #f6f6f8;
    border-radius: 8px;
}